body {
    background: rgb(204, 229, 255)
}

#title {
    color: rgb(186, 133, 9);
}

.subtitle {
    color: rgb(200, 148, 30);
    background: whitesmoke;
}

#service-image {
    height: 400px;
    width: 70%;

    background: url("../img/img-2.jpeg");
    /*background-repeat: no-repeat;*/
    background-color: aquamarine;
    /* height width */
    /* cover value fits image to the size of the parent tag, while contain fits image as much as possible without messing up proportions */
    background-size: cover;
}
