body {
    background: url(https://freedesignfile.com/upload/2021/02/Gradient-blue-geometric-abstract-background-vector.jpg);
}

#title {
    color: rgb(186, 133, 9);
}

.subtitle {
    color: rgb(200, 148, 30);
    background: whitesmoke;
}

