body {
    /* a is for alpha, 0-1 */
    background:linear-gradient(to bottom, rgb(14, 69, 129), rgba(50, 28, 0, 0.9));
   
    /* text-transform: uppercase; 
    text-align: justify; */

    text-align: justify;
    font-size: 1.15em;
    /* font-family: "Arial", sans-serif; */
    font-family: 'Indie Flower', sans-serif;
}

#title {
    color: rgb(186, 133, 9);
    /* font-weight: 400; */
}

.subtitle {
    color: rgb(200, 148, 30);
    background: linear-gradient(to right, rgb(100,100,0), rgb(60,0,0));
}

#service-image {
    height: 400px; /* absolute units: cm, mm, pt, px, 1pc = 12pt */
    width: 70vw; /* relative units: %, vh, vw, em */

    /*background: url("../img/img-2.jpeg");*/
    /*background-repeat: no-repeat;*/

    /* gradient move to the direction, can add as many colors, direction can be angles too -45deg */
    /*background: linear-gradient(to right bottom, rgb(222,2,212), green, steelblue, blue);*/

    background: radial-gradient(circle, red 20%, blue 40%, green 55%);

    /* height(absolute) width(relative) */
    /* cover value fits image to the size of the parent tag, while contain fits image as much as possible without messing up proportions */
    /*background-size: cover;*/
    
    border: 5px double black;

}

.link {
    color: red;
    text-decoration: overline;
   
}

.para-text {
    font-style: italic;
}

#about-img {
    height: 300px;
    width: 60%;
    border: 6px solid black;
    /* padding makes space within the tag */
    /*padding:40px;*/
    /* margin makes space around the outside of the tag */
    margin: 40px;
    /*
    padding-left: 25px;
    padding-top: 100px;
    padding-right: 5px;

    top,right, bottom, left is the order for padding

    top and bottom, left and right for margin: 80px 40px; 
    */
    padding: 100px 5px 0px 25px;

    float: right;
}

.table {
    /* display: none; */
    display: inline-block;
}

.container {
    background-color: antiquewhite;
    margin: 10px;
    height: 300px;

    display: flex; /* creates the flex container */
    flex-direction: row; /* or column, row/column-reverse */
    /*flex-wrap: wrap;*/ /* wrap-reverse or nowrap */

    justify-content: space-between; /* center and space-around, flex-start, flex-end... this is horizontal allignment */
    align-items: baseline; /* center, flex-start, flex-end, stretch, baseline ... vertical allignment */
}

.container-item {
    background-color: green;
    color: white;
    font-size: 25px;
    text-align: center;

    width: 70px;
    line-height: 50px;
    margin: 10px;

    flex-grow: 1; /* every flex item gets the same amount of extra space, if only one item has flex grow property then that item takes up all the etxra space */
    flex-shrink: 1; /* rate at which to shrink each item, even when below min width is passed */
    flex-basis: 100px; /* defines minimum width of a flex item */
}