h2 {
    color: red;
}

.subtitle {
    color: blue;
}

#services {
    color: green;
}

/* Order of selector specifity from low to high: element->class->id->inline */
/* class selectors can be used in multiple tags, whereas id selectors are for 
   one time use*/